body {
  background-color: #323742;
  font-family: 'Coustard', serif;
  color: white;
  margin: 0 auto;
  padding: 20px;
  width: 80%;
}

.search-results-div {
  color: sandybrown;
  font-size: 20px;
}

p {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  img {
    width: 80%;
  }
}

.cities-btn:hover, .food-btn:hover, .beaches-btn:hover, .museums-btn:hover {
  background-color: green;
}

.start-btn {
  font-size:30px;
  border: 2px solid white;
  background-color: sandybrown;
  border-radius: 50px;
  padding: 10px; 
  text-align: center;
  margin-left: 100px;
}

.start-btn:hover {
  background: salmon;
  margin-top: 2px;
}

a {
 text-decoration: none;
 color: white;
 font-size: 15px;
}

.cities-btn, .food-btn, .beaches-btn, .museums-btn {
  color: white;
  padding: 10px;
  margin: 20px;
  font-size: 20px;
  background-color: sandybrown;
  border-radius: 50px;
  border: solid white 2px;
  display: block;
  width: 50%;

}

.cities-btn:hover, .food-btn:hover, .beaches-btn:hover, .museums-btn:hover {
  background-color: salmon;
}


li {
  list-style-type: none;
  margin: 5px;
}

#cityName {
  font-size: 20px;
  display: inline;
  color: sandybrown;
}

#myDate {
  display: inline;
  font-size: 18px;
  border: 2px solid black;
  font-family: 'Coustard', serif;
}

.question {
  display: inline;
}

.question h3{
  display: inline;
  margin-right: 10px;
}

#city-details {
  color: white;
  padding: 5px;
  margin: 5px;
  font-size: 20px;
  background-color: sandybrown;
  border-radius: 50px;
  border: solid white 2px;
}

.text-container {
  margin-top: 50px;
}

.link a {
  display: inline-block;
}